# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore
!.ipynb
!.py

# Now exclude our type
!.ipynb_checkpoints
!.tmp
!.pdf
!.pyc
!.deps
!__pycache__